<!DOCTYPE html>

<html>

<head>
    <link rel='stylesheet' href="./css/styles.css">
</head>

<body>
    {{!-- <h1>About Page (hbs)</h1>
        <p>Created by {{name}}</p> --}}
    <div class="main-content">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>